.form-container {
    border: 1px solid #01B1EA;
    padding: 20px;
}

.form-container input {
    display: block;
    margin-bottom: 10px;
}

.button {
    display: block;
    border-radius: 2px;
    width: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    background: #2979CD;
    border: 1px solid #11608E;
    cursor: pointer;
}